# Activate the default devShell
use flake

# Create the venv if it doesn't yet exist, and update the project's environment
# with all useful dependencies that can be run under the nix environment
[[ -d ".venv" ]] || (uv venv && uv sync --extra=nix)

# Activate the project venv
. .venv/bin/activate
